<%
/**
 * Aljohn Nazaire
 * 301063347
 * Winter 2022
 */
%>
<footer class="mt-5 footer navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">COMP 229 Winter 2021 <br> Aljohn Nazaire 301063347</h6>
</footer>
    
  <!--Scripts-->
  <script src="/scripts/app.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>

