<!--File: footer.ejs 
    Aljohn Nazaire 
    301063347 
    Winter 2022  
    Last updated: 2022-02-14-->

    <footer class="mt-5 footer navbar-dark bg-dark">
        <h6 class="display-6 navbar-text">COMP 229 Winter 2021 <br> Aljohn Nazaire 301063347</h6>
    </footer>

    <!--Scripts-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        var getTitle = "<%= title %>";
    </script>
    <script src="/scripts/app.js"></script>

</body>
</html>