<!--File: about.ejs 
    Aljohn Nazaire 
    301063347 
    Winter 2022  
    Last updated: 2022-02-14-->

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align: center">Aljohn Nazaire</h1>
  </div>
  <hr class="my-4" />

  <div class="d-flex">
    <div class="flex-row">
      <div class="card" style="width: 18rem">
        <img src="assests/images/mypic-logo.JPG" alt="pic" />
        <div class="card-body">
          <div class="card-text text-center">
            <p class="font-weight-bold">Quick fact</p>
            <div class="d-flex flex-column">
              <p>Aljohn Nazaire</p>
              <p>March 26, 2001</p>
              <p>Cavite, Phillippines</p>
              <p>Aljohn Louise Nazaire</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ml-3">
      <h3 class="font-weight-bold text-capitalize">Who is aljohn nazaire?</h3>
      <hr />
      <p>
        Born in Phillippines in 2001, Aljohn Nazaire moved to Toronto, Canada in
        2015 with his family. He loves the game of Baseball and Basketball.
      </p>
      <div class="d-flex">
        <div class="card">
          <h5 class="card-title">Hobbies</h5>
          <div class="card-body">
            <ul>
              <li>Photography</li>
              <li>Cooking</li>
              <li>Coding</li>
              <li>Music</li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <ul>
              <li>Ontario Secondary School Diploma</li>
              <li>Centennial College 2019-</li>
            </ul>
          </div>
        </div>
        <div class="card" style="width: 14rem">
          <div class="card-body">
            <h5 class="card-title">Resume</h5>
            <img src="/assests/images/resume.png" class="card-img" alt="..." />
            <h4 class="card-title"></h4>
            <a
              href="./images/Resume.pdf"
              download="Resume.pdf"
              class="btn btn-primary"
              >Download Resume</a
            >
          </div>
        </div>
      </div>
      <div>
        <h3 class="font-weight-bold">Education</h3>
        <hr />
        <p>
          In 2019 Aljohn entered Centennial College and currently studying
          Health Informatics. Centennial College's Health Informatics Technology
          program will combine knowledge of software engineering and health care
          systems. In this advanced technology diploma program's courses, you'll
          learn to design, develop and maintain the next generation of
          electronic health record applications and other exciting software
          products.
        </p>
      </div>
    </div>
  </div>
</div>
