<!--File: contact.ejs 
    Aljohn Nazaire 
    301063347 
    Winter 2022  
    Last updated: 2022-02-14-->

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col">
        <div>
          <h1 class="display-4" style="text-align: center">Contact Me</h1>
          <hr class="my-4" />
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-6">
      <form>
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input
            type="text"
            class="form-control"
            required
            id="fullName"
            placeholder="Enter Your Full Name"
            aria-describedby="FullName"
            name="fullName"
          />
        </div>

        <div class="form-group">
          <label for="contactNumber">Contact Number</label>
          <input
            type="text"
            class="form-control"
            required
            id="contactNumber"
            placeholder="Enter Your Contact Number"
            aria-describedby="ContactNumber"
            name="contactNumber"
          />
        </div>

        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input
            type="email"
            class="form-control"
            required
            id="emailAddress"
            placeholder="Enter Your Email Address"
            aria-describedby="EmailAddress"
            name="emailAddress"
          />
        </div>

        <div class="form-group">
          <label for="message">Your Message</label>
          <textarea
            class="form-control"
            id="message"
            rows="4"
            placeholder="Enter Your Message here..."
            name="message"
          >
          </textarea>
        </div>

        <button type="submit" class="btn btn-lg btn-primary" id="sendbtn">
          Send
        </button>
        <button type="reset" class="btn btn-lg btn-primary" id="cancelbtn">
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
