<%
/**
 * File: home.ejs
 * Aljohn Nazaire
 * 301063347
 * Winter 2022
 * Last updated: 2022-02-14
 */
%>

    <div class="container">
        <div class="jumbotron">
            <h3>Welcome to Aljohn's page</h3>
        </div>
        <div class="card mb-5">
            <div class="card-header">
                <h3>Mission</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">What I offer</h5>
                <p class="card-text">I offer a unique website design for small business particulary to clothing industry to help them thrive.</p>
                <br>
                <p>For those well established companies, I will help the company to improve, and have better user experience by making the application or website by implementing new methods.</p>
                <a href="./about" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        <div class="card pb-2">
            <div class="card-header">
                <h3>Vision</h3>
            </div>
            <div class="card-body mb-4">
                <p>I envision myself as the next technology prioneer and following the footstep of Bill Gate, Mark Zuckerberg, Larry Ellison, and Jack Ma</p>
                <p>I want to build an application or software that will make the society life easier and more convenient.</p>
            </div>
        </div>
    </div>