<!--File: project.ejs 
    Aljohn Nazaire 
    301063347 
    Winter 2022  
    Last updated: 2022-02-14-->

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align: center">Project</h1>
    <hr class="my-4" />
  </div>
  <div class="row">
    <div class="col">
      <div>
        <div class="container">
          <h3>A template of e-commerce</h3>
          <p>
            I made a e-commerce website for a clothing company for my own
            hypothetically clothing company. One day this e-commerce will be
            working properly and sales will be great.
          </p>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <img
                src="/assests/images/project-1.png"
                class="card-img-top"
                style="width: 100%"
              />

              <img
                src="/assests/images/project-2.png"
                class="card-img-top"
                style="width: 100%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
